@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');


:root{
    --white: oklch(100% 0 0);
}

*{
    box-sizing: border-box;
}

body{
    font-family: "Lato", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin: 0;
    height: 100vh;
    height: 100svh;
    width: 100vw;
}

.bg{
    background: 
    url('https://r4.wallpaperflare.com/wallpaper/178/471/787/rick-and-morty-run-the-jewels-vector-graphics-wallpaper-9fa542ec0ee60c7b259cf8a2a1614474.jpg'
    )no-repeat center center/cover;
    width: calc(100vw + 80px);
    height: calc(100vh +80px);
    height: calc(100svh + 80px);
    position: absolute;
    top: -40px;
    left: -40px;
    z-index: -1;
    filter: blur(0px);
}

.loading-text{
    font-size: 50px;
    color: var(--white);
}
